:root {
  --orange-color: #f27f3d;
  --light-green: #9abf48;
  --aquamarine-color: #0aa689;
  --blue-color: #0a5da6;
  --yellow-color: #f9f075;
  --dark-color: #221c20;
  --background-blue-color: #002c52;
  --white-color: #ffff;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-blue-color);
  box-sizing: border-box;
  height: 100vh;
  font-family: monospace, sans-serif;
}

header {
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.item {
  margin-top: 5%;
  text-align: center;
}

.portal-welcome {
  transition: opacity 500ms;
}

.portal-welcome:hover {
  -webkit-transform: scale(1.2);
  transform: scale(2);
}

.header-logo {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.Logo {
  width: 30rem;
}

.menu-filter {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  background: var(--light-green);
}

.status-filter,
.gender-filter,
.specie-filter,
.order-filter,
.btn-principais {
  color: var(--white-color);
  font-size: 1.24rem;
  font-family: monospace, Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align-last: center;
}

.btn-clearfilter {
  background: var(--white-color);
  color: var(--background-blue-color);
  padding: 12px;
  width: 8rem;
  border-radius: 20px;
  font-family: monospace, Arial, Helvetica, sans-serif;
  font-weight: 600;
}

option {
  color: var(--dark-color);
  font-size: 18px;
}

input,
select,
button {
  margin: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

select,
button {
  background: transparent;
}

select:hover {
  border-bottom: 5px double #87f583;
  height: 45px;
  transition: 0.5s;
}

.search {
  width: 20%;
  height: 40px;
  text-align: left;
  padding-left: 3%;
  border-radius: 1.25rem;
  background: var(--background-blue-color);
  opacity: 45%;
  padding: 20px;
  color: var(--white-color);
  font-size: 20px;
}

.sort {
  position: relative;
  right: 23px;
  background: #87f583;
  color: black;
  border: none;
}

.btn-limpar {
  width: 100px;
  border-radius: 20px;
  color: var(--corfiltros);
  background: #87f583;
  border: 1px solid #87f583;
}

.btn-limpar:hover,
.sort:hover {
  background: #05f2af;
  border: 1px solid #05f2af;
  transition-duration: 0.5s;
  cursor: pointer;
}

.status,
.gender {
  display: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.cards {
  display: flex;
  flex-flow: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: 4vh;
}

.cards_container {
  margin: 3vh;
  border-style: solid;
  border-radius: 9px;
  border-color: #9ddb17;
  font-weight: bold;
  box-shadow: 10px 10px 10px #81b316cb;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.cards_container:hover {
  transform: rotateY(180deg);
}

.character_img,
.back-text-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back-text-card {
  transform: rotateY(180deg);
  /*box-shadow: 10px 10px 10px #11283b;*/
}

img {
  border-radius: 10px;
}

.back-text-card {
  /* margin-left: 10px; */
  width: 300px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

h3 {
  font-size: 20px;
  font-weight: 600px;
}

#character_name,
#character_status,
#character_gender,
#episodes,
p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

p {
  font-size: 16px;
}

/* #episodes {
  padding: 0.3vh;
} */

.stats {
  margin: 18px;
  position: relative;
  display: flex;
  flex-direction: column;
}

span {
  font-weight: 600;
}

.total-characters,
.gender-average {
  border-radius: 20px;
  background: #221c20;
  border: 1px solid;
  margin: 5px;
  padding: 5px;
}

.text {
  color: #e3dde0;
}

@media (min-width: 992px) {
  .cards_container {
    width: 25%;
    height: 60vh;
  }

  .character_img img {
    width: 40vh;
    height: 47vh;
    margin-top: 2vh;
  }
}

.footer {
  padding: 1%;
  background: #084d6e;
  color: white;
  font-size: 20pt;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: fixed;
}

@media (max-width: 901px) {
  .cards_container {
    flex: 100%;
    height: 490px;
    display: flex;
    flex-direction: column;
    max-width: 280px;
    min-width: 280px;
  }

  .stats {
    flex: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .gender-average,
  .total-character,
  p {
    text-align: center;
    margin: 8px 0;
    font-size: 16px;
  }

  .total-characters,
  .gender-average {
    max-width: 378px;
    max-height: 132px;
    min-width: 256px;
    align-content: center;
  }

  .text {
    align-content: center;
    padding: 10px;
  }

  .back-text-card {
    margin-left: 10px;
  }

  img {
    height: 200px;
    width: 250px;
    border-radius: 10px 10px 0 0;
  }

  header {
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  h1 img {
    margin: 30px 0;
    font-size: 50px;
    height: auto;
    width: auto;
  }

  .menu-filter {
    margin-top: 10px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    right: 0;
  }

  .search,
  .status-filtro,
  .gender-filtro,
  button {
    margin-bottom: 0;
  }

  input {
    left: 5px;
  }

  .sort {
    position: relative;
    right: 5px;
  }
}

@media (max-width: 320px) {
  h1 {
    margin: 30px 0;
    font-size: 50px;
  }

  .gender-average,
  .total-character {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    flex-direction: column;
  }
  .text {
    align-content: center;
  }

  .btn-principais,
  input {
    position: relative;
    right: 0;
    left: 0;
    margin: 10px;
  }

  .menu-filter {
    flex-direction: column;
  }
}
